<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search People</title>
    <link rel="stylesheet" href="../css/connect.css" />
  </head>

  <body>
    <%- include('sidebar') %>
    <div class="content">
      <div class="container">
        <input type="text" id="searchInput" placeholder="Search..." />
        <ul id="peopleList">
          <% users.forEach((user) => { %>
            <li>
              <div class="profile">
                <img src="<%= user.avatarUrl %>" alt="Profile" />
                <div class="info">
                  <a href="/profile/<%= user.username %>"
                    style="text-decoration: none; color: black"
                  >
                    <div><strong><%= user.display_name %></strong></div>
                    <div><%= user.username %></div>
                  </a>
                  <div>Followers: <%= user.followers %></div>
                  <div>Following: <%= user.following %></div>
                </div>
              </div>
          </li><% }) %>
        </ul>
      </div>
    </div>
    <script src="../js/connect.js"></script>
    <script src="../js/background.js"></script>
  </body>
</html>
