<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Creation</title>
    <link rel="stylesheet" href="../css/create_post3.css" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.6.3/index.js"
    ></script>
    <link rel="icon" type="image/*" href="https://ik.imagekit.io/FFSD0037/logo.jpeg?updatedAt=1746701257780">
  </head>
  <body>
    <%- include("sidebar") %>
    <div class="create-post3">
      <div class="header">
        <div class="header-title">Create new post</div>
      </div>
      <div class="content">
        <div class="image-create-post3">
          <% if (type === "reel") { %>
            <div></div>
          <% } else { %>
          <img
            id="post-image"
            class="post-image"
            src="<%- post %>"
            alt="Post image preview"
          />
          <% } %>
        </div>
        <div class="right-side">
          <form action="/shareFinalPost" method="POST" id="create-post3">
            <input type="hidden" id="avatar" name="avatar" value="<%- post %>" />
            <input type="hidden" id="type" name="type" value="<%- type %>" />
            <div>
              <div class="user-info">
                <img
                  class="create_post_user_avatar3"
                  id="create_post_user_avatar3"
                  src="<%- img %>"
                  alt="User avatar"
                />
                <div class="username"><%= currUser %></div>
              </div>
              <div class="caption-area">
                <div class="caption-wrapper">
                  <textarea
                    id="caption"
                    class="caption-input"
                    placeholder="Add a caption"
                    name="caption"
                  ></textarea>
                  <a
                    id="emoji-button"
                    class="emoji-button"
                    style="text-decoration: none"
                    >😊</a
                  >
                  <emoji-picker id="emoji-picker"></emoji-picker>
                </div>
              </div>

              <div class="options">
                <div class="option-button">
                  <div class="option-icon">📍</div>
                  Add location
                </div>
                <input
                  type="text"
                  id="location"
                  class="location-input"
                  placeholder="Type a place..."
                  name="location"
                />
              </div>

              <div class="comments-toggle">
                <input type="checkbox" id="toggle-comments" name="toggle" checked />
                <label for="toggle-comments">Enable comments</label>
              </div>
            </div>
            <div class="footer">
              <button class="share-button" type="submit">Share</button>
            </div>
          </form>
          </div>
      </div>
    </div>
    <script src="../js/create_post3.js"></script>
  </body>
</html>
